/.vs/Qt_Oil_New/copilot-chat
/.vs/Qt_Oil_New/CopilotIndices
/.vs/Qt_Oil_New/FileContentIndex
/.vs/Qt_Oil_New/v17
/Controller/__pycache__
/Controller/__pycache__
/out
*.db
data/*.db
*.pyc
# 将以下内容加入.gitignore
__pycache__/
*.pyc
*.db
data/
/build
/dist
pyside_app_demo.exe
